.first{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

    height: auto;
}

.first > div > img{
    width: 100%;
    height: 100%;
}
.first > div + div{
    background-color: rgb(245,227,215);
}
#navbar{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar > span{
    padding: 8px;
    justify-content: center;
}
#navbar > span:hover{
    color: orange;
}
#navbar + p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(196,178,166);
    padding-left: 30px;
    margin-top: 150px;

}
.hello{
    font-size: 38px;
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    color: rgb(113, 107, 103);


}
.hello + p{
    width: 80%;
    /* margin: auto; */
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;

}
.btn{
    border: 3px solid black;
    margin-left: 30px;
    height: 50px;
    width: 200px;
    border-radius: 17px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: black;


}

.second{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.second > div > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-left: 30px;

}
.second > div > h1 + p{
 color: orange;
 padding-left: 30px;

}
.para + p{
 margin-top: 40px;
}
.para >p + p{
    margin-top: 25px;
   }
.para > p{
    width: 90%;
    margin: auto;
    display: flex;
    font-size: 20px;
}
.sec-box{
    display: flex;
    flex-direction: row;
    
}
.sec-box > div{
    /* height: 100%; */
    /* border: 1px solid blue; */
    justify-content: center;
    
   
}

.sec-box > div > img{
    height: 100%;
    width: 100%;
    justify-content: center;

    
}
.skill{
    background-color: rgb(235,175,79);
    width: 100%;
}
.skill > h1{
    color: white;
    padding-left: 30px;
}
.skill > h1 + p{
    color: white;
    padding-left: 30px;
}
.same{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
hr{
    margin-top: -10px;
    width: 90%;
    /* margin: auto; */
}
.same > h5{
    font-size: 16px;
}
.same > h5 + p{
    color: white;
}
.third{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
}
.third > div{
    border: 1px solid black;
}
.third > div > img{
    height: 60px;
    width: 60px;
    padding: 10px;
    
}


.one{
    background-color: rgb(235,175,79);
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.one > p{
    width: 90%;
    margin: auto;
    font-size: 20px;
    padding: 10px
}
.two{
    background-color: rgb(251,104,61);
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.two > p{
    width: 90%;
    margin: auto;
    font-size: 20px;
    padding: 10px

    
}
.three{
    background-color: rgb(22,22,22);
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.three > p{
    width: 90%;
    margin: auto;
    font-size: 20px;
    padding: 10px

    
}
.four > p{
    width: 90%;
    margin: auto;
    font-size: 20px;
    padding: 10px

    
}
/* 
.one >  h3 {
    color: whitesmoke;
}
.one >  h3 + p {
    color: whitesmoke;
}
.one + div{
    background-color: rgb(251,104,61);
}

.thi{
    background-color: rgb(22,22,22);
} */


@media (min-width: 400px) and (max-width: 700px){
    .first{

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    
    .first > div > img{
        width: 100%;
        height: 100%;
        justify-content: center;
        margin: auto;
        
        
        
    }
    #navbar{
        flex-direction: column;
        text-align: center;
    }
    #navbar + p{
        margin-top: 70px;
    }
    .second{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
    }
   
    .sec-box{
        flex-direction: column;
        margin-bottom: -400px;
       
    }
    .third{
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        
    }
    
}

@media (min-width: 81px) and (max-width: 399px){
    .first{

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    
    .first > div > img{
        width: 100%;
        height: 100%;
        justify-content: center;
        margin: auto;
        
        
    }
    #navbar{
        flex-direction: column;
        text-align: center;
    }
    #navbar + p{
        margin-top: 70px;
    }
    .second{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
    }
   
    .sec-box{
        flex-direction: column;
        margin-bottom: -400px;
       
    }
    .third{
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        
    }
}